body {
    background-image: url("ucfimage.avif");
    background-position: center;
}

#title {
    font-size: 40px;
    width: 100%;
    margin: 2%;
    margin-left: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

#loginDiv {
    font-size: 30px;
    border-radius: 25px;
    width: 65%;
    height:auto;
    margin:auto;
    padding: 35px;
    background-color: rgba(255,255,255,.94);
}

#inner-title {
    display: inline-block;
    font-size: .8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    opacity: 60%;
}

.buttons {
    font-size: 26px;
    color:#FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: 25%;
    background-color: rgb(0,0,200);
    opacity:60%;
    font-family: 'Montserrat', sans-serif;
}

.buttons:hover {
    background-color: rgb(0, 0, 128);
    cursor:pointer;
    color: #FFFFFF;
}

#loginName {
    font-size: 28px;
}

#loginPassword {
    font-size: 28px;
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    border: 1.5px solid rgba(0, 100, 255, 0.3);
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

#createAccount {
    text-align: center;
    display:block;
    margin-block: 2%;
    font-size: .6em;
    font-family: 'Montserrat', sans-serif;
}
