#loginBody {
    background-image: url("ucfimage.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
}

#contactsBody {
    background-color: darkgray;
}

#title {
    font-size: 40px;
    width: 100%;
    margin: 2%;
    margin-left: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

#loginDiv {
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    min-width: 500px;
    height:auto;
    margin:auto;
    padding: 35px;
    background-color: rgba(255,255,255,.94);
    text-align: center;
}

#inner-title {
    display: inline-block;
    font-size: .8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    opacity: 60%;
}

#pageRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#page-back, #page-for{
    visibility: hidden;
}

#input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    font-size: 26px;
    color:#FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    background-color: rgb(0,0,200);
    margin-bottom: 10px;
    opacity:60%;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in-out .2s;
}

.buttons:hover {
    background-color: rgb(0, 0, 128);
    cursor:pointer;
    color: #FFFFFF;
}

input[type="text"],
input[type="password"] {
    font-size: 28px;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 100, 255, 0.3);
    text-align: left;
    width: 60%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

#createAccount {
    text-align: center;
    display:block;
    margin-block: 2%;
    font-size: .6em;
    font-family: 'Montserrat', sans-serif;
}


/* Contacts Page */

table {
    width: 100%;
    border-collapse: collapse;
    visibility: hidden;
    min-height: 30%;
}

h2 {
    text-align: center;
}

th,
td {
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.removeButton {
    background-color: rgb(255, 0, 0);
    border-width: 1.2px;
    border-radius: 2px;
    color:#FFFFFF;
    width:25%;
    transition: all ease-in-out .2s;
}

.removeButton:hover {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
    color: #FFFFFF;
}
.updateButton {
    background-color: rgb(101, 101, 101);
    border-width: 1.2px;
    border-radius: 2px;
    color: #FFFFFF;
    width: 75%;
    transition: all ease-in-out .2s;
}

.updateButton:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    color: #FFFFFF;
}
.signOut {
    background-color: rgb(101, 101, 101);
    border-width: 1.2px;
    border-radius: 2px;
    color: #FFFFFF;
    width: 66px;
    transition: all ease-in-out .2s;
}
.signOut:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    color: #FFFFFF;
}
