#loginBody {
    background-image: url("ucfimage.avif");
    display:flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

#contactsBody {
    background-image: url("ucfimage.avif");
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

#title {
    font-size: 40px;
    width: 100%;
    margin: 2%;
    margin-left: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

#loginDiv {
    font-size: 30px;
    border-radius: 25px;
    width: 650px;
    height:auto;
    margin:auto;
    padding-inline: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: rgba(255,255,255,.94);
    text-align: center;
}

#inner-title {
    display: inline-block;
    font-size: 1.4em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    opacity: 60%;
}

#pageRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#page-back, #page-for{
    visibility: hidden;
    margin-bottom: 50px;
}

#input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.buttons {
    font-size: 26px;
    color:#FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    background-color: rgb(0,0,200);
    margin-bottom: 10px;
    opacity:60%;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in-out .2s;
}

.buttons:hover {
    background-color: rgb(0, 0, 128);
    cursor:pointer;
    color: #FFFFFF;
}

.loginButton {
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 95%;
    background-color: rgb(0, 0, 200);
    margin-bottom: 10px;
    opacity: 60%;
    font-family: 'Montserrat', sans-serif;
}

.loginButton:hover {
    background-color: rgb(0, 0, 128);
    cursor: pointer;
    color: #FFFFFF;
    transition: all ease-in-out .2s;
}

#search-all {
    margin-bottom: 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
    font-size: 26px;
    border-radius: 30px;
    padding:6px;
    border: 1.5px solid rgba(0, 100, 255, 0.3);
    text-align:left;
    width: 95%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

input[type="search"]{
    font-size: 26px;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 100, 255, 0.3);
    text-align: left;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
}

#createAccount {
    text-align: center;
    display:block;
    margin-block: 2%;
    font-size: .6em;
    font-family: 'Montserrat', sans-serif;
}


/* Contacts Page */

table {
    width: 100%;
    /* border-collapse: collapse; */
    overflow: hidden;
    visibility: hidden;
    min-height: 30%;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    border-spacing: 0; /* Removes extra gaps */
    overflow: hidden; /* Ensures proper rounding */
}

h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 10px;
}

th,
tr {
    border-collapse: unset;
    border-spacing: 1px;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
    font-family: Verdana, sans-serif;
}

tr:nth-child(even){
    border-collapse: unset;
    border-spacing: 1px;
    border: 1px solid black;
    height: 45px;
    background-color: lightgoldenrodyellow
}

tr{
    height: 50;
    background-color:#ffffe9;
}
th {
    background-color: darkblue;
    color: white;
    font-size: 1.875em;
    height: 50px;
}

#inner-body {
    background-color: rgba(75, 75, 75, 0.9);
    padding-bottom: 50px;
    min-height: 60%;
    position: relative;
}

#addContactDiv {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.removeButton {
    background-color: transparent;
    border: none;
    width:30px;
    height:30px;
    background: url('icons8-trash-can-48.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.removeButton:hover {
    background-color: transparent;
    filter: brightness(0.8);
}

.updateButton {
    background-color: transparent; 
    border: none; 
    width: 30px; 
    height: 30px; 
    background: url('icons8-edit-profile-40.png') no-repeat center center;
    background-size: contain; 
    cursor: pointer;
    transition: all ease-in-out .2s;
    margin-right: 5px;
}

.updateButton:hover {
    background-color: transparent; 
    filter: brightness(0.8); 
}

.signOut {
    background-color: rgb(180, 180, 180);
    border-width: 1.2px;
    border-radius: 2px;
    color: #FFFFFF;
    width: 110px;
    font-size: 1.5em;
    transition: all ease-in-out .2s;
}
.signOut:hover {
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    color: #FFFFFF;
}
.popup-container {
    display: none; /* Hidden by default */
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .popup-content {
    background: rgb(234, 255, 139);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .CreateButton{
    font-size: 20pt;
  }
  .tableWrapper {
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    text-align: center;
}

#searchError {
    color:#ff3e3e;
    font-size: 20px;
    margin-left:12px;
    border-radius:10px;
    padding:3px
}

#openPopup1 {
    margin-right:10%;
}
